* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    display: flex;
    flex: 1 0 auto;
    margin-bottom: 10px;
}
.footer {
    flex: 0 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

/***** Top content *****/
.header .inner-container, .footer .inner-container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background: rgba(48,135,248,1);
    background: -moz-linear-gradient(left, rgba(48,135,248,1) 0%, rgba(25,185,231,1) 18%, rgba(25,185,231,1) 52%, rgba(25,125,240,1) 92%, rgba(33,120,219,1) 95%, rgba(39,135,231,1) 100%);
    background: -webkit-linear-gradient(left, rgba(48,135,248,1) 0%, rgba(25,185,231,1) 18%, rgba(25,185,231,1) 52%, rgba(25,125,240,1) 92%, rgba(33,120,219,1) 95%, rgba(39,135,231,1) 100%);
    background: -o-linear-gradient(left, rgba(48,135,248,1) 0%, rgba(25,185,231,1) 18%, rgba(25,185,231,1) 52%, rgba(25,125,240,1) 92%, rgba(33,120,219,1) 95%, rgba(39,135,231,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,135,248,1) 0%, rgba(25,185,231,1) 18%, rgba(25,185,231,1) 52%, rgba(25,125,240,1) 92%, rgba(33,120,219,1) 95%, rgba(39,135,231,1) 100%);
    background: linear-gradient(to right, rgba(48,135,248,1) 0%, rgba(25,185,231,1) 18%, rgba(25,185,231,1) 52%, rgba(25,125,240,1) 92%, rgba(33,120,219,1) 95%, rgba(39,135,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3087f8', endColorstr='#2787e7', GradientType=1 );
}

.footer .inner-container {
    margin-top: 0;
    margin-bottom: 0;
}

.header .inner-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header h1 {
    color: #fff;
}
.header strong {
    color: #555;
}

.inner-bg {
    padding: 60px 0 80px 0;
}

.content .text {
    color: #fff;
}

.content .text h1 { color: #fff; }

.content .description {
    margin: 20px 0 10px 0;
}

.content .description p { opacity: 0.8; }

.content .description a {
    color: #fff;
}
.content .description a:hover,
.content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
    margin-top: 50px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form button.btn {
    width: 100%;
}

.form-bottom form .input-error {
    border-color: #19b9e7;
}

.checkbox label {
    font-size: 14px;
    font-weight: 300;
}

div .checkbox input[type=checkbox] {
    position: relative;
    margin-right: 10px;
}

.social-login {
    margin-top: 35px;
}

.social-login h3 {
    color: #fff;
}

.social-login-buttons {
    margin-top: 25px;
}

.middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
    color: #fff;
}

footer p {
    opacity: 0.8;
    margin: 0;
}

footer a {
    color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

    .middle-border { min-height: 10%; margin: 65px 30px 0 30px; border-right: 0;
        border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

}

@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

}
.alert-message {
    color: #c42323;
    margin-left: 5px;
}

/* Account.jsp */
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
    margin-top:20px;
}

/*account.jsp*/

.profile-picture {
    border: 1px solid #EDEEF0;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    /* max-width: 100%; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.avatar-small {
    width: 200px;
    height: 200px;
}

.avatar-big {
    width: 300px;
    height: 300px;
}

.avatar-block {
    text-align: center;
    margin-bottom: 10px;
}

.avatar {
    width: 100%;
}

.btn-friend {
    border: 1px solid #19B9E7;
    display: block;
    margin-bottom: 5px;
}

.btn-friend:hover  {
    color: #fff;
    background-color: #19B9E7;
    border: 1px solid #19B9E7;
}

.btn-msg {
    color: #fff;
    background-color: #19B9E7;
    display: block;
}

.btn-msg:hover  {
    color: #19B9E7;
    background-color: #fff;
    border: 1px solid #19B9E7;
}


.user-name {
    text-align: left;
    color: #237EE0;
    display: inline-block;
}

.user-name div {
    display: inline-block;
}

.contact-info-title {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.profile-user-info {
    text-align: left;
}

.profile-info-row div {
    display: inline-block;
    font-size: 14px;
}

.profile-info-row div.phone {
    margin-right: 15px;
}

.profile-info-title {
    font-size: 14px;
    margin-right: 5px;
    width: 130px;
}

.user-info .fa {
    margin-right: 2px;
}

.link-update {
    position: absolute;
    top: 0;
    font-size: 12px;
    margin: 5px 10px;
}

.user-info {
    position: relative;
    margin-left: 30px;
    text-align: left;
}

.update {
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.update .control-label {
    width: 30%;
    font-weight: 400;
    margin-bottom: 15px;
}

.update .controls {
    display: inline-block;
}

.update .controls input[type=file] {
    height: 30px;
    border: 0;
    background: transparent;
    box-shadow: none;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    padding: 0;
}

.update .form-group label {
    font-weight: 400;
    width: 30%;
}

.update .form-group input[type="text"] {
    height: 35px;
    border: 2px solid #ddd;
    font-size: 16px;
    line-height: 35px;
    width: 69%;
    display: inline-block;
}

.update .form-group textarea {
    border-width: 2px;
    display: inline-block;
    width: 69%;
    line-height: 20px;
}

.update .form-group textarea:focus {
    border: 2px solid #ddd;
}

.update .form-group .wrap-phones {
    font-weight: 400;
    /*width: 30%;*/
    display: inline-block;
    position: absolute;
}

.update .phone {
    width: 69%;
    display: inline-block;
    margin-left: calc(30% + 4px);
    padding-bottom: 16px;
}

/*header.jsp*/

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-form .btn {
    height: auto;
    line-height: 22px;
    padding: 5px 20px;
}

.logout {
    vertical-align: middle;
    padding: 0 19px;
    background: transparent;
    width: 100%;
    border: none;
    color: #fff;
    text-align: right;
    outline: 0;
}

.logout a {
    color: #fff;
}

.navbar-form .form-group {
    position: relative;
}

.navbar-form .form-group input {
    width: 300px;
    background-color: #19B9E7;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    padding-right: 30px;
}

.navbar-form {
    text-align: left;
    margin-left: 53px;
    margin-top: 0;
    margin-bottom: 0;
}

.update-form {
    width: 100%;
}

.update-form .form-group {
    line-height: 0;
}

.update-form .container-date {
    width: 69%;
    display: inline-block;
}

.update-form .form-box {
    display: inline-block;
    width: 52%;
}

.update-form .label-date {
    display: inline-block;
    position: relative;
    top: -13px;
}

.update-form .phones {
    position: relative;
}

.update-form input[type="text"].form-phone {
    width: 89%;
    display: inline-block;
}

.update-form input[type="text"].form-phone::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.4;
}

.update-form button.btn.remove {
    width: 10%;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding: 0;
}

.update-form button.btn.new-btn {
   margin-left: 1%;
}

.update-form button.btn.add {
    margin-right: 2px;
    display: inline-block;
    line-height: 35px;
    height: 35px;
    width: 150px;
    font-size: 14px;
    padding: 0;
}

.update-form .wrap-btn {
    width: 100%;
    text-align: right;
}

.update-form form button.btn-save {
    margin: 20px auto;
    display: block;
    width: auto;
}

.update .form-group .date input[type="text"] {
    width: 100%;
}

.update-form .modal-header, .update-form .modal-footer {
    border: none;
}

.update-form .modal-footer, .update-form .modal-body {
    text-align: center;
}

.update-form form button.btn-answer {
    width: auto;
    margin-right: 5px;
    display: inline-block;
}

.update-form .btn-answer a {
    color: #fff;
}

.logo {
    font-size: 47px;
    margin-right: 5px;
    color: #555;
    opacity: 0.5;
}

.logo-title {
    text-align: left;
}

.logo-title:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo-title-inner {
    display: inline-block;
    height: 100%;
}

.main-title {
    font-size: 28px;
    font-weight: 500;
    color: #555;
}

.sub-title {
    color: #fff;
    line-height: 13px;
    font-weight: 100;
    font-size: 13px;
    text-align: center;
}

.icon-zoom {
    position: absolute;
    right: 11px;
    top: 50%;
    font-size: 16px;
    margin-top: -8px;
    color: #fff;
    opacity: 0.5;
}

.search {
    margin-bottom: 25px;
}

.disabled{
    pointer-events:none;
    opacity: 0.8;
    color: grey !important;
}

.nav-friends {
    width: 100%;
    background: #f5f5f5;
    border-radius: 10px;
}

.nav-friends a {
    margin: 10px;
    display: inline-block;
}

.nav-friends a.active {
    color: #337ab7;
}

.nav-friends a .count {
    font-size: 12px;
    position: relative;
    top: -7px;
    right: 0;
}

.search-wrapper {
    height: 85%;
}

.friends-block {
    margin: 10px;
    display: inline-block;
}

.friends-block .avatar-small {
    width: 150px;
    height: 150px;
    display: inline-block;
}